.wrap{
    width: 100%;
    color: yellow
}

.brand a{
    text-decoration: none;
    color: yellow;
  
}
.brand img{
    padding: 0px 18px;
}

.nav_right{
    padding: 0px 18px;
}

.logo_des{
    font-size: 25px;
}

.navbar-nav{
    margin-top: 20px;
    font-size: 20px;
}

.navbar-nav .nav-item{
    border-right: solid 1px darkblue;
}



