<nav class="navbar navbar-expand-md bg-light navbar-light">
  <div class="row wrap">
    <div class="col-md-6 brand">
      <!-- Brand -->
      <img src="./../../../assets/logo.jpg" alt="">
      <a href="#" class="logo_des">Sigma duck cinema</a>
    </div>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-md-6 ">
      <!-- Navbar links -->
      <div class="navbar_right collapse navbar-collapse " id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item nav_right rotate">
            <a class="nav-link" href="#">Trang chủ</a>
          </li>
          <li class="nav-item nav_right rotate">
            <a class="nav-link" href="#">Đăng ký</a>
          </li>
          <li class="nav-item nav_right rotate">
            <a class="nav-link" href="#">Đăng nhập</a>
          </li>
          <li class="nav-item nav_right rotate">
            <a class="nav-link" href="#">Tài khoản</a>
          </li>
          <li class=" dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Phim</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Phim đang chiếu</a>
              <a class="dropdown-item" href="#">Phim sắp chiếu</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>