<div class="movie-card">
  <div class="movie-header babyDriver">
    <div class="header-icon-container">
      <!-- <a href="#">
        <i class="material-icons header-icon"></i>
      </a> -->
      <img class="img-fluid" [src]="phim.HinhAnh" alt="">
    </div>
  </div><!--movie-header-->
  <div class="movie-content">
    <div class="movie-content-header">
      <a href="#">
        <h3 class="movie-title">{{phim.TenPhim}}</h3>
      </a>
      <div class="imax-logo"></div>
    </div>
    <div class="movie-info">
      <div class="info-section">
        <label>Date & Time</label>
        <span>{{ phim.NgayKhoiChieu }}</span>
      </div><!--date,time-->
      <div class="info-section">
        <label>Screen</label>
        <span>01</span>
      </div><!--screen-->
      <div class="info-section">
        <label>Row</label>
        <span>H</span>
      </div><!--row-->
      <div class="info-section">
        <label>Seat</label>
        <span>15</span>
      </div><!--seat-->
    </div>
  </div><!--movie-content-->
</div><!--movie-card-->