<div class="container">
  <div class="row">
    <div class="col-6 mx-auto p-3">
      <form [formGroup]="formDangNhap" (ngSubmit)="DangNhap()">
        <h4 class="text-center">ĐĂNG NHẬP</h4>
        <div class="col-12">
          <p class="sub-text"><i> Vui lòng đăng nhập trước khi mua vé để tích luỹ điểm, cơ hội nhận thêm nhiều ưu đãi từ chương trình thành
            viên Galaxy Cinema.</i></p>
        </div>
        <div class="col-12 form-group">
          <input id="email" placeholder="Email" type="email" class="form-control" formControlName="Email" />
        </div>
        <div class="col-12 form-group">
          <input id="password" placeholder="Mật Khẩu" type="password" class="form-control" formControlName="PassWord" />
        </div>
        <div class="col-12 forget-pass">
          <a href="">Quên mật khẩu?</a>
        </div>
        <div class="col-12 form-group">
          <button type="submit" class="btn form-control">Đăng Ký</button>
        </div>
      </form>
    </div>
  </div>
</div>
